<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Evaluation System</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav >
    <h1><a href="/">Student Evaluation System</a></h1>
    <ul>
      <% if (user) { %>
        <!-- <li>Welcome, <%= user.email %></li> -->
        <li><a href="/">Home</a></li>
        <li><a href="/api/show-groups">Groups</a></li>

        <% if (user.role !== 'TEACHER') { %>
          <li><a href="/api/results">Results</a></li>
        <% } %>

        <li><a href="/api/users/profile">Profile</a></li>
        <li><a href="/api/logout" id="logout-btn">Log out</a></li>
      <% } else { %>
        <li><a href="/api/users/signin" id="login-btn">Log in</a></li>
        <li><a href="/api/users/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>

  