<%- include('partials/header'); -%>

<div class="wrapper" id="create">
    <div id="survey_options">
      <h4>Quiz Name</h4>
      <br>
      <input id="quiz-name" type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Name">
      <br>
      <br>
      <h4>Number of Questions</h4>
      <br>
      <input id="q-num" type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Number of Questions">
      <br>
      <br>
      <h4>Category</h4>
      <br>
      <select id="category" name="category">
        <option value="ACHIEVEMENT">Achievement Test</option>
        <option value="PERSONALITY">Personality Test</option>
        <option value="PSYCHOLOGICAL">Psychological Test</option>
        <option value="IQ">IQ Test</option>
      </select>

  
    </div>

    <div class="verticle-btn">
      <button><a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Create</a></button>
    </div>
</div>

<form class="wrapper" style="display: none;" id="question-field">
    <label id="question-head" for="question">Question</label>
    <input type="text" name="question" placeholder="Question" />
    <br>
    <br>
    <p>Options</p>
    <br>
    <!-- <label for="question-1">Option A</label> -->
    <input type="text" name="Option A" placeholder="Option A" />
    <br>
    <br>
    <!-- <label for="question-1">Option B</label> -->
    <input type="text" name="Option B" placeholder="Option B" />
    <br>
    <br>
    <!-- <label for="question-1">Option C</label> -->
    <input type="text" name="Option C" placeholder="Option C" />
    <br>
    <br>
    <!-- <label for="question-1">Option D</label> -->
    <input type="text" name="Option D" placeholder="Option D" />
    <br>
    <br>
    <p>Answer</p>
    <br>
    <!-- <label for="question-1">Answer</label> -->
    <input type="text" name="Answer" placeholder="Correct Option" />
    <br>
    <br>

    <!--  -->
    <p>Marks</p>
    <br>
    <input type="text" name="Option A Mark" placeholder="Mark for Option A" />
    <br>
    <br>
    <input type="text" name="Option B Mark" placeholder="Mark for Option B" />
    <br>
    <br>
    <input type="text" name="Option C Mark" placeholder="Mark for Option C" />
    <br>
    <br>
    <input type="text" name="Option D Mark" placeholder="Mark for Option D" />
    <br>
    <br>


    <!--  -->

    <input class="card-btn" id="reset" style="display: block;" type="reset" value="Next">
    <input class="card-btn" id="set" style="display: none;" type="submit" value="Submit">
  </form>

<%- include('partials/footer'); -%>

<script>
    const createButton = document.getElementById('add_more_fields');
    const quizNameInput = document.getElementById('quiz-name');
    const quizNumInput = document.getElementById('q-num');
    const quizForm = document.getElementById('create');

    const questionHead = document.getElementById('question-head')
    const questionFields = document.getElementById('question-field');
    const questionSubmit = document.getElementById('form-submit');
    const resetForm = document.getElementById('reset');
    const setForm = document.getElementById('set');

    const categoryInput = document.getElementById('category');

    const groupId = window.location.pathname.split('/')[4];
    const quizBody = [];
    const main = {};
    let count = 0;
    let last = 0;

    createButton.addEventListener('click', function (e) {
        count++;
        last = parseInt(quizNumInput.value);
        questionHead.innerText = `Question ${count}`;
        quizForm.style.display = 'none';
        questionFields.style.display = 'block';
        if (count === last) {
            resetForm.style.display = 'none'
            setForm.style.display = 'block';
        }
    });
    questionFields.addEventListener('reset', function (e) {
        let question_text = e.target[0].value;
        let answer = e.target[5].value;
        let options = [];
        for (let i = 1; i <= 4; i++) {
            let option; 
            options.push({
                option: e.target[i].name.split(' ')[1],
                txt: e.target[i].value,
                mark: parseInt(e.target[i + 5].value)
            })
        }
        quizBody.push({
            question_text: question_text, 
            options: options, 
            answer: answer
        });
        count++;
        questionHead.innerText = `Question ${count}` 
        if (count === last) {
            resetForm.style.display = 'none'
            setForm.style.display = 'block';
        }
    })
    questionFields.addEventListener('submit', async function (e) {
        e.preventDefault();
        let question_text = e.target[0].value;
        let answer = e.target[5].value;
        let options = [];
        for (let i = 1; i <= 4; i++) {
            let option; 
            options.push({
                option: e.target[i].name.split(' ')[1],
                txt: e.target[i].value,
                mark: parseInt(e.target[i + 5].value)
            })
        }
        quizBody.push({
            question_text: question_text, 
            options: options, 
            answer: answer
        });
        main.name = quizNameInput.value;
        main.category = categoryInput.value;
        main.quiz = quizBody;
        
        try {
            const res = await fetch(`/api/quizes/${groupId}`, { 
                method: 'POST', 
                body: JSON.stringify(main),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            if (data) {
                location.assign('/api/show-groups');
            }
        }
        catch (err) {
            console.log(err);
        }
        
    });
</script>