<%- include('partials/header'); -%>

<div class="current-page" style="border-bottom: 1px solid white; border-top: 1px solid white; padding-top: 10px;">
	<div>
		<h1>Groups</h1>
		<br>
	</div>
</div>
<br>

<% if (user.role === 'TEACHER') { %>
	<div style="padding-left: 5px;">
		<button  type="button" class="card-btn" id="create-btn" style="display: block;"> Create </button>
		<br>
		<br>
		<div class="verticle-btn" id="new-group" style="display: none; padding-bottom: 45px;">
			<input class="txt-input" type="text" name="group"placeholder="Group Name" id="group-input">
			<button class="card-btn" type="button" id="group-submit"> Submit </button>
			<button class="card-btn" type="button" id="cancel-new"> Cancel </button>
		</div>
	</div>
<% } %>

  <div class="main">
	<% if (groups.length > 0) { %>
	  <% groups.forEach(group => { %>
		 <div class="group-card">
			<div class="group-container">

			  <div>
				<h2 style="padding: 15px;"><%= group.group.name %></h2>
			  </div>

			  <div class="verticle-btn">
				<button class="card-btn"><a href="/api/quizes/<%= group.group.id %>">Open</a></button>
			  	<button class="card-btn">Delete</button>
			  </div>
			  
			</div>
		   </div>
		  <br>
		  <br>
	  <% }) %>
	<% } else { %>
		<p>There are no  to display...</p>
	<% } %>

  </div>



<%- include('partials/footer'); -%>

<script>
	const createButton = document.getElementById('create-btn');
	const cancelButton = document.getElementById('cancel-new');
	const newGroup = document.getElementById('new-group');
	const groupInput = document.getElementById('group-input');
	const submitGroup = document.getElementById('group-submit');

	if (createButton) {
		createButton.addEventListener('click', (e) => {
			if (createButton === null) {
				console.log('Its NULL');
			}
			createButton.style.display = 'none';
			newGroup.style.display = 'block';
		});
	}

	if (cancelButton) {
		cancelButton.addEventListener('click', (e) => {
			createButton.style.display = 'block';
			newGroup.style.display = 'none';
		})
	}

	if (submitGroup) {
		submitGroup.addEventListener('click', async (e) => {
			const name = groupInput.value;
			try {
				const res = await fetch('/api/groups', { 
					method: 'POST', 
					body: JSON.stringify({ name }),
					headers: {'Content-Type': 'application/json'}
				});
				const data = await res.json();

				if (data) {
					location.assign('/api/show-groups');
				}

				}
				catch (err) {
				console.log(err);
			}
		});
	}


</script>

<script src="https://kit.fontawesome.com/2ddde9c59e.js" crossorigin="anonymous"></script>