<%- include('partials/header'); -%>

<form class="auth-form" action="/signup">
  <h2 class="auth-form-header">Login</h2>
  <label class="auth-label" for="email">Email</label>
  <input class="auth-input" type="text" name="email"  />
  <div class="email error"></div>
  <label class="auth-label" for="password">Password</label>
  <input class="auth-input" type="password" name="password"  />
  <div class="password error"></div>
  <button>login</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/api/users/signin', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log('I am signing in');
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }
  });
</script>