<%- include('partials/header'); -%>

<h1>Dynamic Fields Javascript</h1>
  <div class="wrapper">
    <div id="survey_options">
      <input type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Name">
      <input type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Email">
      <br>
      <br>
      <input type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Another Field">
    </div>
    <br>
    <div class="controls">
      <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add More</a>
      <a href="#" id="remove_fields"><i class="fa fa-plus"></i>Remove Field</a>
    </div>
</div>

<%- include('partials/footer'); -%>

<script>
    var survey_options = document.getElementById('survey_options');
    var add_more_fields = document.getElementById('add_more_fields');
    var remove_fields = document.getElementById('remove_fields');
    const data = {
        quiz: ['abc']
    }

    console.log(data);

    add_more_fields.onclick = function(){
        var newField = document.createElement('input');
        newField.setAttribute('type','text');
        newField.setAttribute('name','survey_options[]');
        newField.setAttribute('class','survey_options');
        newField.setAttribute('siz',50);
        newField.setAttribute('placeholder','Another Field');
        survey_options.appendChild(newField);
    }

    remove_fields.onclick = function(){
        var input_tags = survey_options.getElementsByTagName('input');
        if(input_tags.length > 2) {
            survey_options.removeChild(input_tags[(input_tags.length) - 1]);
        }
    }

    //This function is added later [update]  
    document.getElementById('print-values-btn').onclick = function() {
        let allTextBoxes = document.getElementsByName('survey_options[]');  
        for(let i of allTextBoxes){
            console.log(i.value) //here you will be able to see all values in the console
        }
    }
</script>