<%- include('partials/header'); -%>

  <div class="wrapper">
    <div id="survey_options">
      <input type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Total Marks">
      <br>
      <br>
      <input type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Pass Marks">
      <br>
      <br>
      <!-- <input type="text" name="survey_options[]" class="survey_options" size="50" placeholder="Another Field"> -->
    </div>


    <br>
    <div class="controls">
      <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add More</a>
      <a href="#" id="remove_fields"><i class="fa fa-plus"></i>Remove Field</a>
      <a href="#" id="submit-quiz"><i class="fa fa-plus"></i>Submit</a>
    </div>
</div>

<%- include('partials/footer'); -%>

<script>
    const survey_options = document.getElementById('survey_options');
    const add_more_fields = document.getElementById('add_more_fields');
    const remove_fields = document.getElementById('remove_fields');
    const submit = document.getElementById('submit-quiz');
    let quizes = [];
    let quiz = {};
    let questionVar;
    let answerVar;
    let optionsVar;

    let count = 1;

    add_more_fields.onclick = function(e){
        e.preventDefault();
        quizes.push(quiz)
        quiz = {};
        questionVar = ' ';
        answerVar = ' ';
        optionsVar = [];

        const question = document.createElement('input');
        const answer = document.createElement('input');
        const optionA = document.createElement('input');
        const optionB = document.createElement('input');
        const optionC = document.createElement('input');
        const optionD = document.createElement('input');
        const heading = document.createElement('p');
        const lineBreak = document.createElement('br');

        heading.innerText = `Question ${count++}`;

        question.setAttribute('type','text');
        question.setAttribute('name','question');
        question.setAttribute('class','survey_options');
        question.setAttribute('size',50);
        question.setAttribute('placeholder','Question');
        
        answer.setAttribute('type','text');
        answer.setAttribute('name','answer');
        answer.setAttribute('class','survey_options');
        answer.setAttribute('size',50);
        answer.setAttribute('placeholder','Answer');

        // Option - A
        optionA.setAttribute('type','text');
        optionA.setAttribute('name','A');
        optionA.setAttribute('class','survey_options');
        optionA.setAttribute('size',50);
        optionA.setAttribute('placeholder','Option A');

        // Option - B
        optionB.setAttribute('type','text');
        optionB.setAttribute('name','B');
        optionB.setAttribute('class','survey_options');
        optionB.setAttribute('size',50);
        optionB.setAttribute('placeholder','Option B');

        // Option - C
        optionC.setAttribute('type','text');
        optionC.setAttribute('name','C');
        optionC.setAttribute('class','survey_options');
        optionC.setAttribute('size',50);
        optionC.setAttribute('placeholder','Option C');
        
        // Option - D
        optionD.setAttribute('type','text');
        optionD.setAttribute('name','D');
        optionD.setAttribute('class','survey_options');
        optionD.setAttribute('size',50);
        optionD.setAttribute('placeholder','Option D');

        survey_options.appendChild(heading);
        survey_options.appendChild(question);
        survey_options.appendChild(answer);
        survey_options.appendChild(optionA);
        survey_options.appendChild(optionB);
        survey_options.appendChild(optionC);
        survey_options.appendChild(optionD);

        // negative dropdown option
    }

    survey_options.addEventListener("keyup", (event) => {
        if (event.key === "Enter") {
            // console.log(event.target.name)
            if (event.target.name === 'question') {
                questionVar = event.target.value
                quiz.question_text = questionVar;
            } else if (event.target.name === 'answer') {
                answerVar = event.target.value;
                quiz.answer = answerVar;
            } else {
                optionsVar.push({
                    option: event.target.name,
                    txt: event.target.value
                });
                quiz.options = optionsVar
            }
        }
    });

    submit.addEventListener('click', (e) => {
        quizes.push(quiz);
        console.log(quizes);
    });

    // console.log(texts)
    remove_fields.onclick = function(){
        var input_tags = survey_options.getElementsByTagName('input');
        if(input_tags.length > 2) {
            survey_options.removeChild(input_tags[(input_tags.length) - 1]);
        }
    }

    //This function is added later [update]  
    // document.getElementById('print-values-btn').onclick = function() {
        
    //     let allTextBoxes = document.getElementsByName('survey_options[]');  
    //     for(let i of allTextBoxes){
    //         console.log(i.value) //here you will be able to see all values in the console
    //     }
    // }
</script>