<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <form action="/signup">
        <h2>Sign up</h2>

        <label for="email">Email</label>
        <input type="text" name="email" required />

        <label for="password">Password</label>
        <input type="password" name="password" required />

        <button>Sign In</button>
      </form>

	  <script>
		const form = document.querySelector('form');
		form.addEventListener('submit', async (e) => {
		  e.preventDefault();
		  // get values
		  const email = form.email.value;
		  const password = form.password.value;

		  console.log(password);
		  try {
			const res = await fetch('/api/signin', { 
			  method: 'POST', 
			  body: JSON.stringify({ email, password }),
			  headers: {'Content-Type': 'application/json'}
			});
		  }
		  catch (err) {
			console.log(err);
		  }
		});
	  </script>
</body>
</html>